
:root {
   --body-bg: #2e2e2e;
   --body-color: #fff;

   --main-border: 1px solid #555;

   --sidebar-bg: #080416;
   --color-sidebar-bg: #7e7e7e;
   --coloder-sidebar-selected: #ffffff;

   --color-header: #fff;
   --bg-header: #000;

   --bg-boxes: #111;
   --color-boxes: #fff;

   --btn-switch-bg: #333;
   --btn-switch-toggle: #000;

   --scrollbar-color: #000;
   --scrollbar-hover-color: #222;
}

.table-striped tbody tr:nth-of-type(odd) {
   background-color: rgba(0,0,0, .4);
}

.form-control, .form-control:focus {
   background-color: #222;
   color: #fff;
}
 