/* Globais */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Jost', serif;
}

html, body {
   height: 100%;
   background: var(--body-bg);
   overflow: hidden;
}

ul {
   list-style: none;
}

::-webkit-scrollbar { 
   background-color: transparent;
   width: 10px;
   border-radius: 50%;
}

::-webkit-scrollbar-track:hover {
   background: var(--scrollbar-hover-color);
}

::-webkit-scrollbar-thumb        { 
   background: var(--scrollbar-color);
   width: 1px;
   border-radius: 5px;
}

#bg, .bg {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.433);
   position: absolute;
   top: 0;
   z-index: 100;
   display: none;
}

.table {
   color: var(--body-color);
}

/* ############## widgets ############# */
.green {
   --primary: #09bd09;
   --secondary: #096f09;
}

.cyan {
   --primary: #53d2d6;
   --secondary: #1e888f;
}


.widget {
   width: 250px;
   border-radius: 5px;   
   background-color: var(--primary);
   transition: .2s all;
}

.widget:hover {
   transform: translateY(-1px);
}

.widget:hover .icon i {
   font-size: 4.2rem;
}

.widget .box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 20px;
}

.widget .icon i {
   color: var(--secondary);
   font-size: 4rem;
   transition: .2s all;
}

.widget h3 {
   font-size: 2rem;
   margin: 10px 0;
}

.widget footer {
   background-color: var(--secondary);
   width: 100%;
   border-radius: 0 0 5px 5px;
   padding: 5px;
   text-align: center;
}

.widget footer a {
   color: #fff;
   text-decoration: none;
}


/* ################ Header ############### */
.header {
   height: 60px;
   -webkit-box-shadow: 2px 6px 6px -7px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 6px 6px -7px rgba(0,0,0,0.75);
   box-shadow: 2px 6px 6px -7px rgba(0,0,0,0.75);
   
   background: var(--bg-header);
   color: var(--color-header);
   
   display: flex;
   align-items: center;
   margin-left: 60px;
   position: relative;
}

.header .btn-toggle {
   display: none;
}

.header .logo {
   margin: 0 15px;
   padding-right: 15px;
   border-right: var(--main-border);
   color: var(--color-header);

   display: flex;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
}

.header .logo i {
   font-size: 3rem;
}

.header .logo span {
   font-size: 1.5rem;
   margin-left: 15px;
}

.header .right-box {
   flex: 1;
   text-align: right;
   margin-right: 40px;

   display: flex;
   justify-content: flex-end;
}

.header .right-box #user-email {
   margin-right: 15px;
}

.header .right-box i {
   margin: 0 10px;
   font-size: 1.2rem;
   color: var(--color-header);
   cursor: pointer;
}

.header .right-box .notifications-box {
   position: relative;
}

.header .right-box .notifications-box #count-notification {
   position: absolute;
   top: -7px;
   right: 2px;
   background: #d32c2c;
   color: #fff;
   padding: 0 4px;
   font-size: .7rem;
   border-radius: 20px;
}


main {
   display: flex;
   height: calc(100% - 60px);
}

/* sidebar */
main .sidebar {
   background: var(--sidebar-bg);
   color: #bababa;
   height: 100%;
   position: absolute;
   width: 260px;
   transition: .3s;
   left: -200px;
   top: 0px;
   z-index: 110;
   overflow-y: scroll;
}

main .sidebar .btn-toggle {
   background-color: var(--sidebar-bg);
   display: flex;
   justify-content: space-between;
   align-items: center;

   font-size: 1rem;
   color: var(--color-sidebar-bg);
   cursor: pointer;
   z-index: 10;
   padding: 25px 25px 25px 15px;
}

main .sidebar .btn-toggle i:first-child {
   font-size: 3rem;
}

main .sidebar ul li.hidden-navbar-item {
   display: none;
   background-color: #19113890;
   padding-left: 30px;
   position: relative;
}

main .sidebar ul li.hidden-navbar-item::before {
   content: '';
   display: block;
   height: 2px;
   width: 8px;
   background: #fff;
   position: absolute;
   left: 10px;
   top: 22px;
}

main .sidebar ul li a {
   color: var(--color-sidebar-bg);
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: .9rem;
   padding: 10px 25px 10px 15px;
   transition: .3s all;
   cursor: pointer;
}

main .sidebar ul li a:not([href]):not([class]) {
   color: var(--color-sidebar-bg);
}

main .sidebar ul li a.selected {
   color: var(--coloder-sidebar-selected);
}

main .sidebar ul li a:hover {
   background-color: #3c2d7790;
}

main .sidebar.active  { 
   left: 0;
}

main .sidebar::-webkit-scrollbar { 
   display: none;
}

main .sidebar:hover {
   left: 0;
}

/* config bar */
main .config-bar {
   background: var(--bg-boxes);
   color: var(--color-boxes);
   
   height: 100%;
   width: 260px;
   
   position: absolute;
   right: 0px;
   top: 0px;
   /* transition: .3s; */
   z-index: 110;

   padding: 15px;
   display: none;
}

main .config-bar #close-config-bar {
   position: absolute;
   top: 5px;
   right: 20px;
   font-size: 1.3rem;
   cursor: pointer;
}

main .config-bar header {
   border-bottom: var(--main-border);
   margin-bottom: 15px;
}

main .config-bar header {
   margin-top: 30px;
}

main .config-bar header:nth-of-type(1) {
   margin-top: 0;
}

main .config-bar li.switch-li {
   display: flex;
   align-items: center;
}

main .config-bar li.shortcuts {
   line-height: 1.8em;
   margin: 10px 0;
}

main .config-bar li code {
   background: #333;
   padding: 4px;
   border-radius: 5px;
}

main .config-bar span {
   margin-left: 15px;
}

main .config-bar .switch-btn {
   height: 20px;
   width: 40px;

   outline: 0;
   border: 0;
   background: var(--btn-switch-bg);
   border-radius: 10px;

   position: relative;
   cursor: pointer;
}

main .config-bar .switch-btn::after {
   content: '';
   display: block;
   
   height: 20px;
   width: 20px;
   background: var(--btn-switch-toggle);

   border-radius: 50%;

   position: absolute;
   top: 0;
   transition: .3s all;
   right: 20px;
}

main .config-bar .switch-btn[clicked="true"]::after {
   right: 0px;
}

/* conteudo */

main .content {
   color: var(--body-color);
   
   margin-left: 60px;
   padding: 20px;

   overflow-y: scroll;
   overflow-x: hidden;
   
   height: 100%;
   width: 100%;
}

main .content-loader {
   height: 100%;
   background-color: rgba(0, 0, 0, 0.611);
   
   display: none;
   justify-content: center;
   align-items: center;
   
   position: absolute;
   top: 60px;
   left: 60px;
   width: 100%;
}

main .content .page-title {
   display: flex;
   align-items: center;
   color: var(--body-color);
}

main .content .page-title  i {
   font-size: 2.5rem;
   margin-right: 15px;
   animation: pageTitleIcon forwards .5s;
   transform: translate(-200px, 0);
}


main .content .page-title h2 {
   margin-bottom: 0;
   animation: pageTitleH2 forwards 1s;
}


main .content .page-title p {
   animation: pageTitleP forwards 1.5s;
}

/* Animations */

@keyframes pageTitleIcon {
   from {
      transform: translate(-200px, 0);
   }
   
   to {
      transform: translate(0px, 0);
   }
}

@keyframes pageTitleH2 {
   from {
      transform: translate(0, -100px);
   }
   
   to {
      transform: translate(0, 0);
   }
}

@keyframes pageTitleP {
   from {
      transform: translateX(100px);
      opacity: 0;
   }
   
   to {
      transform: translateX(0px);
      opacity: 1;
   }
}

@media (max-width: 768px) {
   html, main, body {
      overflow: hidden;
   }

   .header {
      margin-left: 0px;
      /* padding-left: 20px; */
      width: 100%;
   }   

   .header .logo {
      display: none;
   }
   
   .header .btn-toggle {
      display: block;
      padding: 20px;
      font-size: 1.5em;
   }
   
   .header .right-box {
      margin-right: 0;
   }

   .header #user-email {
      display: none;
   }

   main .sidebar {
      left: -260px;
   }

   main .content {
      margin-left: 0;
   }
}